/* =================================================nav================================================= */

nav {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    margin: -8px -8px -0 -8px;
    padding: 0 20px;
}
#navLogo {
    display: flex; 
    align-items: center; 
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#navMenu {
    display: flex;
    font-size: 18px;
}
#navMenu a {
    color: black;
    margin: 20px;
    text-decoration: none;
    font-family: cursive;
}
#navMenu a:hover {
    color: green;
}
#navMenu #activeMenu {
    color: green;
}



/* =================================================nav================================================= */

iframe {
    margin: 0 -8px;
}

.tl-bagian1 {
    margin: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 400px;
}

#bg1-judul {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    font-weight: 500;
}
#bg1-deskripsi {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 700px;
}

.bt-deteksi {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #52c41a;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border-style: none;
    color: white;
    font-size: 14px;
    width: 300px;
    height: 40px;
}
.bt-deteksi:hover {
    filter: brightness(70%);
    cursor: pointer;
}
.bt-upforest {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(213, 213, 213);
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
    color: black;
    font-size: 14px;
    font-weight: bold;
    width: 300px;
    height: 40px;
}
.bt-upforest:hover {
    filter: brightness(70%);
    cursor: pointer;
}



/* =================================================body: bagian4================================================= */

.tl-bagian2 {
    margin: 0 -8px 0 -8px;
    height: 600px;
    color: white;
    background-image: url('./assets/hero-section-1-1-bg.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .tl-bagian2 h4 {
    margin-top: 10px;
    width: 850px;
    text-align: center;
    font-size: 22px;
    font-weight: normal;
  }

.buttonSetorSampah {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #52c41a;
    border-radius: 20px;
    border-style: none;
    color: white;
    width: 250px;
    height: 50px;
}
.buttonSetorSampah:hover {
    filter: brightness(70%);
    cursor: pointer;
}  
  
  
  
  /* =================================================body: footer================================================= */

footer {
    color: white;
    background-color: black;
    margin: 0px -8px -8px -8px;
    padding: 20px;
    display: flex;
    justify-content: center;
}